/* Note to students: Some properties are given to you to fill out,
others you can modify as they stand, and if you have time,
there are definitely some properties you should add!*/

    html {
      height: 100%;
    }
    body {
       height: 100%;
       background-color: #89D6FF;
       background-image: url("drone.jpg");

    }
    .img1{
      height: 200px;
      width: 400px;
    }

    header {
        background-color: #391CFF;
        padding:15px;
        font-size: 24 ;
        color: lightblue;
        display: block;
        width: 980px;
        border: 15px solid blue;
        text-align: center;
    }
    nav {
        line-height:;
        background-color: #39D6FF;
        width:125px;
        display: inline-block;
        vertical-align: top;
    }
    nav ul {
        list-style-type: none;
    }
    a {
        color: ;
    }
    section {
        width: 516px;
        display: inline-block;
    }
    aside {
      width: 125px;
      display: inline-block;
      vertical-align: top;
      background-color:;
      font-size: ;
    }
    aside ul {
        list-style-type: none;
    }
    footer {
        width: 940px;
        background-color: #0F1887;
        padding:30px;
        display: block;

        border: 15px solid blue;
  color: lightgreen;
        text-align: center;
        font-size:32;
}
        .list li:before{
            content: ' ';
            display: block;
            width: 10px;
            height: 10px;
            background: #eee;
            border: solid 1px #aaa;
            position: absolute;
            top: 3px;
            left: -15px;

}







    }
