/* Note to students: Some properties are given to you to fill out,
others you can modify as they stand, and if you have time,
there are definitely some properties you should add!*/

    html {
      background: #F9FDFF;
    }
    body {
       width: 960px;
       height: 100%;
    }
    header {
        color: white;
        background-color: #7AA3B2;
        padding: 5px;
        font-size: ;
        display: block;
    }
    nav {
        float: left;
        margin-top: -11px;
        margin-bottom: -16px;
        margin-left: -5px;
    }
    nav ul {
        background-color: #7AA3B2;
        width: 960;
        padding: 0;
        float: left;
        border-bottom: ;
        list-style-type: none;
    }
    nav li {
        float: left;
    }
    nav li a {
        display: block;
        height: 25px;
        padding: 12px 18px 8px 18px;
        text-decoration: none;
        color: white;
        vertical-align: middle;
    }
    a {
        color: ;
    }
    img {
      width: 960px;
      border-radius: -20px;
    }
    .image-credit {
      position: relative;
      top: -15px;
      padding-right: 5px;
      text-align: right;
    }
    section {
        width: 100%;
        background-color: #7AA3B2;
        display: inline-block;
        float: left;
    }
    aside {
        width: 17%;
        display: inline-block;
        background-color:;
        padding:;
        min-height: 100%;
    }
    aside ul {
        list-style-type: none;
    }
    footer {
        width: 790px;
        background-color:;
        color:;
        clear: both;
        display: block;
    }
